@font-face {
  font-family: titleFont;
  src: url('./assets/PublicEnemyNF.otf');
}

body {
  background-color: rgb(116, 204, 242);
}

#bigTitle{
  font-size: 3em;
}

#app {
  font-family: titleFont;
  min-width: 100%;
  min-height: 100%;
}

#banner {
  text-align: center;
  height: 15%;
}

#navbar {
  width: 80%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
}

#aboutbtn{
  flex: 1;
}

#buybtn{
  flex: 2;
}

#castbtn{
  flex: 1;
}

.btn {
  min-height: 40px;
  cursor: pointer;
  border: 1px solid black;
}

#spiel {
  text-align: center;
  font-size: 1.25em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto Slab, serif;
}

#praiseList {
  display: flex;
  flex-flow: row wrap;
}

.playTitle {
  font-family: Sansita, sans-serif;
}

.praise {
  flex: 1;
  min-width: 30%;
  padding: 10px;
}

#peopleLists {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto; 
}

.list {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.listTitle {
  text-align: center;
  font-family: titleFont;
  font-size: 1.5em;
}

.listMember {
  font-family: Roboto Slab, serif;
}

.role{
  display: inline;
}

.member{
  display: inline;
}

#ticketingPage{
  font-family: Roboto Slab, serif;
  text-align: center;
}

.ticketingSpiel {
  margin-top: 10px;
  font-size: 1em !important;
}

#payForm {
  margin-left: auto;
  margin-right: auto;
}

#ticketingTitle {
  margin-left: auto;
  margin-right: auto;
}

.redirectAlert {
  font-size: 0.8em;
}

.submitBtn {
  border-radius: 28px;
  padding: 10px 20px 10px 20px;
  background-color: #ffa114;
  color: white;
  margin-top: 10px;
  border: 0px;
}

.submitBtn:hover{
  background-color: #ffb74a;
}

#quantitySelect {
  width: 20px;
  margin-top: 10px;
  margin-left: 5px;
}