#app {
  font-family: Sansita, sans-serif;
}

#banner {
  text-align: center;
  height: 15%;
}

#navbar {
  width: 80%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#aboutbtn{
  flex: 1;
}

#buybtn{
  flex: 2;
}

#castbtn{
  flex: 1;
}

.btn {
  min-height: 40px;
  cursor: pointer;
}

#spiel {
  text-align: center;
  font-size: 1.5em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#praiseList {
  display: flex;
  flex-flow: row wrap;
}

.praise {
  flex: 1;
  min-width: 30%;
  padding: 10px;
}